.cv-container {
  height: 900px;
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.cv-header {
  background-color: #005264;
  height: 25%;
  color: white;
}
.cv-body {
  background-color: white;
  height: 100%;
}
.cv-footer {
  background-color: green;
  height: 100%;
}
