.cv-container {
  height: 900px;
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}

.cv-header {
  background-color: #005264;
  height: 25%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-phone-container {
  display: flex;
  gap: 30px;
  margin: auto;
}
.cv-body {
  background-color: white;
  height: 100%;
  padding: 32px;
}
.cv-footer {
  background-color: green;
  height: 100%;
}
