.container {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cv-header {
  background-color: red;
  height: 100%;
}
.cv-body {
  background-color: blue;
  height: 100%;
}
.cv-footer {
  background-color: green;
  height: 100%;
}
